@{
    Layout = "~/Shared/_Layout.cshtml";
}

@section Head{
    @RenderSection("Head", false)
}

@section Header
{
    <div class="wrapper">
        <header class="padded-container">
            <div class="logo"></div>
            @RenderSection("Header", false)
        </header>
    </div>
}

<h3>This is the Account Layout Page</h3>

@RenderBody()

@section JavaScript
{
    @RenderSection("JavaScript", false)
}