@model SendCode

<section id="sendCode">
    @using (Ajax.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, new AjaxOptions { }, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-8">
                Two Factor Authentication Provider:
                @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    }
</section>

@section JavaScript {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/jqueryajax")
}