<?xml version="1.0"?>
<configuration>
  <system.web.webPages.razor>
    <pages pageBaseType="App.ThemedViewPage">
      <namespaces>
        <add namespace="App.Account" />
        <add namespace="Microsoft.Owin.Security"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>
