@{
    Layout = "~/_Layout.cshtml";
}

@section Head
{
    
    @RenderSection("Head", false)

}

@section Header
{
<h2>This is the Admin Layout Header</h2>
    @RenderSection("Header", false)
 
}




<h2>This is the Admin Layout page</h2>

@RenderBody()