@{
    Layout = "~/Companies/Home/_Layout.cshtml";
}


@section Head
{
}

@section Header
{
    <h3>This is the Companies Area home page Header</h3>
}
<h3>This is the Companies area home page</h3>


@section JavaScript{


}
