<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body class="doublepadding-bottom">
    <div class="whole-page-wrapper">
        <div class="full-wrapper">
            <div class="container padded-container header-background">
                <div class="wrapper">
                    <header class="padded-container">
                        <div class="logo">
                        </div>
                    </header>
                </div>
            </div>
        </div>
        <div class="full-wrapper theme-background">
            <div class="wrapper">
                <div class="container padded-container ">
                    @RenderBody()
                </div>

            </div>

        </div>
        <div class="push"></div>
    </div>
    
    @RenderSection("FooterNavigation", required:false)

    @RenderSection("JavaScript", required: false)
</body>
</html>