@{
    Layout = "~/_Layout.cshtml";
}

@section Head
{

    @RenderSection("Head", false)

}

@section Header
{
    <h2>This is the Companies Home Layout Header</h2>
    @RenderSection("Header", false)

}


<h2>This is the Companies Home Layout page</h2>

@RenderBody()

@section JavaScript{
    @RenderSection("JavaScript", false)

}
