@{
    Layout = "~/Home/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    ViewBag.Description = "This is the Home Page";
    
}


<h3>This is the home page</h3>

<h2>The Current user is @User.Identity.Name</h2>